@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    --color01: #2b2b2b;
    --color02: #f0f8ff;

    --font01: Comfortaa;
}

body{
    height: 96vh;
    width: 98vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color01);
    font-family: var(--font01)
}
header {
    color: var(--color02);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 4ch;
}
/*Main*/
main{
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;

}

/*Section*/
section#container{
    display: block;
    min-width: 30%;
    margin: 4% auto;
    padding: 1px 5px;
    background-color: #4e4d4d;
    border: 2px solid aquamarine;
    border-radius: 2pc;
    
}



/*Div*/
div{
    text-align: center;
    margin: 5% auto;
    max-width: 100%;
    
}
input[type=number]{
    background-color: var(--color01);
    width: 80%;
    height: 3em;
    border-radius: 5pc;
    border: 1px solid var(--color01);
    text-align: center;
    font-size: 1.5pc;

    font-family: var(--font01);
    color: var(--color02);
}
div.buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
    
}
button{
    background-color: #2b2b2b;
    color: var(--color02);
    font-family: var(--font01);
    font-size:7vw;
    border: 0;
    border-radius: .2pc;
    margin: 0 2%;
    width: 7pc;
    height: 7pc;
    
    transition: 0.5s;
}
button:hover{
   background-color: aquamarine;
   color: var(--color01);
   border-radius: 8pc;
}
p#res{
    padding: 1pc 0 0 0;
    text-align: center;
    color: var(--color02);
}
div#result{
    transition: 1s;
    font-size: 2vw;
    color: var(--color02);
}


@media only screen and (max-width: 430px){
    section#container{
        width: 80%;
    }
    button{
        width: 3pc;
        height: 3pc;
    }
}
